<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Enter New Song</h1>
    <ul>
      <%= form_for :songs, url: songs_path(@song) do |f| %>

      <li><%= f.label :title %></li>
      <p><%= f.text_field :title %></p>
      <li><%= f.label :released %></li>
      <p><%= f.check_box :released %></p>
      <li><%= f.label :release_year %></li>
    <p><%= f.number_field :release_year %></p>
      <li><%= f.label :artist_name %></li>
    <p><%= f.text_field :artist_name %></p>
      <li>  <%= f.label :genre %></li>
        <p><%= f.text_field :genre %></p>
      <br>
        <%= f.submit %>
    </ul>
      <% end %>


  </body>
</html>
